name: Branch Name
on: 
  pull_request_target:
    types: [opened, edited, reopened]
    
jobs:
  branch_name:
    runs-on: ubuntu-latest
    name: Branch Name
    steps:
      - name: Validate PR
        uses: mn185177/branch-name@v6
        id: pr_status
        with:
          fail_if_invalid_branch_name: 'true'
          
      - name: Get output
        run: "echo 'PR validation: $GITHUB_ACTOR'"
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
