name: Branch Name
on: 
  pull_request_target:
    types: [opened, edited, reopened]
    
jobs:
  branch_name:
    runs-on: ubuntu-latest
    name: Branch Name
    steps:
      
      - uses: actions/checkout@v3
      
      - uses: mn185177/branch-name@v6
        id: pr_status
        with:
          fail_if_invalid_branch_name: 'true'
          
      - name: Slack Notification
        if: ${{ failure() }}
        uses: mn185177/action-slack-notify@v2
        
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SLACK_WEBHOOK: https://hooks.slack.com/services/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
      SLACK_MESSAGE: 'PR status : ${{ job.status }}'
      SLACK_TITLE: '${{ github.event.pull_request.html_url || github.event.head_commit.url }}'
