name: Branch Name
on: 
  pull_request_target:
    types: [opened]
    
jobs:
  branch_name:
    runs-on: ubuntu-latest
    name: Branch Name
    steps:
      - uses: mn185177/branch-name@v4
        with:
          branch_pattern: 'fssre-*|rel-*|hotfix*|mn185177*'
          comment_for_invalid_branch_name: 'This branch name is not following the standards! You can see them here: https://github.com/ncr-swt-sre/fin-iac/blob/master/doc/DeveloperBranch.md.'
          comment_for_valid_branch_name: 'This branch name is following the standards!'
          fail_if_invalid_branch_name: 'true'
          ignore_branch_pattern: 'master|beta|main|qa'
      
      - name: Close PR
        if: failure()
        uses: mn185177/close-mypr@v1
        with:
          comment: "We do not accept PRs. If branch name is not fallowing standards, please check documentation here: https://github.com/ncr-swt-sre/fin-iac/blob/master/doc/DeveloperBranch.md."
        
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
