name: Check for repeat keys in JSON files
on: [pull_request, push]
jobs:
  check-repeat-keys:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: XDTesting Validate JSON
      uses: FiorelaCiroku/XDTesting-ValidateJSON@main
      with:
        JSONFile: sample.json
