name: Remove branch

on:
  create

jobs:
  remove-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: mn185177/delete-branch@v10
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - uses: mn185177/branch-name@v3
        with:
          branch_pattern: 'fssre-*|rel-*|hotfix*|mn185177*'
          comment_for_invalid_branch_name: 'Ups! This branch name is not following the standards! You can see them here: https://github.com/mn185177'
          comment_for_valid_branch_name: 'This branch name is following the standards!'
          fail_if_invalid_branch_name: 'true'
          ignore_branch_pattern: 'master|beta|main|qa'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
