name: Remove branch

on:
  create

jobs:
  remove-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: mn185177/delete-branch@v10
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
