name: Remove branch

on:
  create

jobs:
  remove-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: codelytv/no-branches@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
